@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background-color: rgb(24, 108, 63);
}
.imgDog {
  display: flex;
  padding-left: 2px;

}
.container_cabc {
  box-sizing: border-box;
  display: flex;
}
.box {
  padding-top: 20px;
  text-align: center;
  height: 40px;
  width: 800px;
  margin: 4px;
  background-color: rgb(7, 8, 8);
  color: rgb(255, 248, 248);
  font-family: 'Montserrat', sans-serif;
}

    .endereco {
      background-color: rgb(0, 0, 0);
      color: aliceblue;
      display: flex;
      padding: 4px;
      width: 500px;
      
    }
  